/**
 * index.css
 *
 * version: 1.0 
 * authors: Kira Miller
 * last modified: 2019-05-29
 */
 
#gameBoardContainer {
	background: #fff;
	width: 100%;
	text-align: center;
}

#gameBoard {
	background: #0000dd;

}